body {   
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    container: fluid;

}

.container {
    text-align: center;
}

.tuits {
    width: 85%;
    
}

.listaMensaje {
    width: 85%;
    border-style: dashed;
}



.error {
    background-color: red;
    color: white;
    margin-top: 2em;
    transition: opacity 10s ease-in-out; /* Transición de opacidad en 10 segundo */
  
}